#main{
    background:linear-gradient(rgba(255, 255, 255, 0.623),rgba(0, 0, 0, 0.452),rgba(255, 238, 1, 0.26)), url(https://cdn.pixabay.com/photo/2016/05/05/11/22/computer-1373684_640.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}


@media (max-width:600px) {
    #loginpalateDiv{
     

    }
}
