#main{
height: calc(100vh - 96px);
padding: 0px 120px;
overflow: hidden;
overflow-y: scroll;
overflow-x: none;
color: white;
background: linear-gradient(rgba(255, 255, 255, 0.432), rgba(0, 0, 0, 0.671),rgba(0, 0, 0, 0.74)), url(https://cdn.pixabay.com/photo/2022/05/05/14/55/kebab-7176351_1280.jpg);
background-position: center;
background-size: cover;
}

#page1{
    min-height: calc(80vh - 96px);
}
#page2,#page3,#page4,#page5,#page6,#page7,#page8,#page9,#page10{
    min-height: calc(80vh);
}

#imagediv{
    object-fit: cover;
    object-position: center;

   
}
#image{
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(255, 254, 254);

}
#btn{
    height: 30px;
    overflow: hidden;
   
}
#btn:hover{
    background-color: rgb(0, 255, 0);

    color: red;
}
#image:hover{
    scale: .95;
    transition: all .5s;
}
@media (max-width:600px) {
    #main{
        padding: 0px 30px;
        
        }

    #descriptions{
        font-size: 11px;
    }
    #btn{
        height: 30px;
       
    }
}
@media (min-width:600px) {
    #main{
        padding: 0px 30px;
        
        }

}
@media (min-width:768px) {
    #main{
        padding: 0px 50px;
        
        }
    #image{

    }

    #descriptions{

    }
}
@media (min-width:991px) {
    #main{
        padding: 0px 40px;
        
        }

}
@media (min-width:1250px) {
    #main{
        padding: 0px 100px;
        
        }
}



#footer{
    min-height: 80vh;
}
